*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    /* background-color: rgba(48, 42, 42, 0.6);   */
    display: flex;
    justify-content: center;
    align-items: center;  
}

.container{
    padding: 75px 0;
    width: 1140px;
}
#images{
    display: flex;
    width: 100%;
    height: 70vh;
}
.photo{
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.8s ease;
    border-radius: 25px;
}
.photo:hover{
    flex: 7;
    filter: blur(0px);
}
#box1{   
    background-image: url(supra\ 1.jpg);
}

#box2{
    background-image: url(supre\ 2.jpg);
}
#box3{
    background-image: url(supra\ 3.jpg);
}
#box4{
    background-image: url(suora\ 4.jpg);
}
#box5{
    background-image: url(supra\ 5.jpg);
}